header{
    text-align:center;
    margin: 20px;
    background-color: black;
    }
header>img{height: 100px;}



/*nav*/

nav a{
    color: white;}
/*nav{background-color: grey; padding: 5px; margin: 10px;}*/
nav, #grad {
    background-image: linear-gradient(rgb(233, 29, 29), rgb(19, 18, 18));}
nav > img{height: 20px;}

/*roda pe*/
.fa-facebook{
    font-size: 75px;
}
.fa-linkedin{
    font-size: 75px;
}

footer{ background-color: grey; 
        padding: 5px; margin: 10px;
        text-align: center;
        }
/*cursor*/
a {
    cursor: url(/cursor/cursorpepper2.png), auto;
    }

p{  text-align: justify; color: white;
    font-family: 'redhot', 'Lucida Sans', 'Lucida Sans Regular', 'serif';
    font-size: larger;
    text-indent: 2%;
     }
/*Corpo*/

body{ background-image: linear-gradient(rgb(82, 82, 82), rgb(0, 0, 0), rgb(82, 82, 82));}
    
body{
    cursor: url(/cursor/cursorpepper1.png), auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    }

/*fonte*/

@font-face {
            font-family: redhot ; src: url(/Font/Red_Hot_Chili.ttf);}

form { border-color: rgb(61, 131, 131);
         width: 25%;
         max-width: fit-content;
         min-width: fit-content;
         padding: 10px 20px;
         margin-left: auto;
         margin-right: auto;
         box-sizing: border-box;
         border-style: dashed;
          border-color: rgb(132, 177, 202);
        }

          

